*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container
{
    margin: 150px auto;
    width: 500px;
    min-height: 200px;
}
.container h3
{
    text-align: center;
    margin-bottom: 20px;
}
.container td
{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
}
.container td button
{
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.container td button:hover
{
    cursor: pointer;
    color: blue;
}